В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

Пример:

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

In [1]:
import pandas as pd

#names=['chlorhexidine', 'cyntomycin', 'afobazol']
#counts=[15, 18, 7]

def create_medications(names, counts):
    medications = pd.Series(counts, names)
    return medications

def get_percent(medications, name):
    
    medications.loc[name]
    # sum_count = sum(medications[name])
    # print(medications.loc[name])
    # print(medications.iloc[1]+medications.iloc[2]+medications.iloc[0])
    return (medications.loc[name]/(medications.iloc[1]+medications.iloc[2]+medications.iloc[0]))*100
    
print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))

35.294117647058826

DATAFRAME

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.

Например:


income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
Создайте функцию create_companyDF(income, expenses, years), которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода.

Пример такого DataFrame представлен ниже.


    Income  Expenses
2018    478     156
2019    512     130
2020    196     270
Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [8]:
import pandas as pd

# income = [478, 512, 196]
# expenses = [156, 130, 270]
# years = [2018, 2019, 2020]
# year = 2018
def create_companyDF(income, expenses, years):
    result = pd.DataFrame({'Income':income, 'Expenses':expenses})   
    result.index = years
    return result
# df = create_companyDF(income, expenses, years)

def get_profit(df, year):
    
    if year not in df.index:
        return
    return df.loc[year].iloc[0] - df.loc[year].iloc[1]
    # return (df.loc[year]).iloc[0] - (df.loc[year]).iloc[1]
   
    
#create_companyDF(income, expenses, years)
#print(get_profit(df, year))
print(create_companyDF(income = [612, 516, 329, 158], expenses = [136, 163, 250, 361], years = [2017, 2018, 2019, 2020]))
print()
print(get_profit(year = 2018, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))
print()
print(get_profit(year = 2013, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

      Income  Expenses
2017     612       136
2018     516       163
2019     329       250
2020     158       361

353

None

ЗАПИСЬ В CSV-ФАЙЛ
Основные параметры метода DataFrame to_csv():
- path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
- sep — разделитель данных в выходном файле (по умолчанию ',');
- decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
- columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
- index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).
- encoding='windows 1251' для русских букв ,'utf8 по умолчанию (надо проверить!!!!!)

In [3]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/countries.csv', index=False, sep=';')
print(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

ЧТЕНИЕ CSV-ФАЙЛА
Основные параметры функции read_csv()

- filepath_or_buffer — путь до файла, который мы читаем;
- sep — разделитель данных (по умолчанию ',');
- decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');
- names — список с названиями столбцов для чтения;
- skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна).
- encoding='windows 1251' для русских букв ,'utf8 по умолчанию

In [7]:
import pandas as pd
import numpy as np


#countries_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/musik.csv', sep=';', encoding='windows 1251')
#display(countries_data)

#data = pd.read_csv('https://raw.githubusercontent.com/mawlukanec/sf_new/main/%D0%A0%D0%90%D0%91%D0%9E%D0%A7%D0%90%D0%AF/PANDAS/DATA/musik.csv', sep = ';' ,encoding='windows 1251' )
#display(data)
#g = ['Дата','Кампания','Запись','Потрачено, руб.','Выполненные заявки','Переходы по ссылкам']
#display(data[g])

#url = 'https://github.com/mawlukanec/sf_new/blob/main/%D0%A0%D0%90%D0%91%D0%9E%D0%A7%D0%90%D0%AF/PANDAS/DATA/countries.csv'
#df = pd.read_csv(url, index_col=0)
#print(df.head(5))

# data[g].to_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/temp.csv', index=False, sep=';')

temp_musik_xls = pd.read_excel('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/musik(.xls).xls')
# g = ['Дата','Кампания','Запись','Потрачено, руб.','Выполненные заявки','Переходы по ссылкам']
g = ['Потрачено, руб.','Выполненные заявки','Переходы по ссылкам']
# display(temp_musik_xls[g])


#display(temp_musik_xls.describe().iloc[:, [4]])
#display(temp_musik_xls.describe().loc[:, ['Переходы по ссылкам']])


# temp_musik_xls['Потрачено, руб.'].value_counts


temp_musik_xls = temp_musik_xls[:-1] # удаляем последнюю сторку
temp_musik_xls.describe()


# temp_musik_xls.dtypes

,ID клиента,ID кампании,ID записи,"Потрачено, руб.",Выполненные заявки,Переходы по ссылкам,Вступления,Охват,Охват подписчиков,Отметки «Нравится»,Поделилось,Комментарии
count,8.470000e+02,8.470000e+02,8.470000e+02,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000
mean,2.003666e+09,1.331093e+06,4.767360e+06,651.694215,1.001181,3.893743,0.011806,5745.201889,5522.683589,9.147580,0.194805,1.061393
std,0.000000e+00,9.135839e+03,5.686404e+04,426.201899,0.034360,3.760004,0.247641,3573.495586,3457.814146,16.866832,0.781628,1.920650
min,2.003666e+09,1.319795e+06,4.649535e+06,171.000000,1.000000,0.000000,0.000000,807.000000,777.000000,0.000000,0.000000,0.000000
25%,2.003666e+09,1.319795e+06,4.708290e+06,360.000000,1.000000,1.000000,0.000000,2966.500000,2867.500000,2.000000,0.000000,0.000000
50%,2.003666e+09,1.326682e+06,4.746990e+06,514.000000,1.000000,3.000000,0.000000,4864.000000,4699.000000,5.000000,0.000000,0.000000
75%,2.003666e+09,1.341067e+06,4.825928e+06,857.000000,1.000000,5.000000,0.000000,7690.000000,7419.500000,10.000000,0.000000,1.000000
max,2.003666e+09,1.341099e+06,4.833090e+06,3428.000000,2.000000,24.000000,7.000000,22870.000000,22280.000000,178.000000,7.000000,14.000000

Данные представляют собой таблицу, в которой содержится 23 столбца:

1 - index — номер строки
2 - Suburb — наименование пригорода
3 - Address — адрес
4 - Rooms — количество комнат в помещении
5 - Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
6 - Price — цена помещения
7 - Method — метод продажи 
8 - SellerG — риэлторская компания
9 - Date — дата продажи (в формате день/месяц/год)
10 - Distance — расстояния до объекта от центра Мельбурна 
11 - Postcode — почтовый индекс
12 - Bedroom — количество спален
13 - Bathroom — количество ванных комнат
14 - Car — количество парковочных мест
15 - Landsize — площадь прилегающей территории
16 - BuildingArea — площадь здания
17 - YearBuilt — год постройки
18 - Lattitude — региональное управление
19 - Lattitude — географическая широта
20 - Longitude — географическая долгота
21 - Regionname — наименование района Мельбурна
22 - Propertycount — количество объектов недвижимости в районе, выставленных на продажу
23 - Coordinates — широта и долгота, объединённые в кортеж

In [4]:
import pandas as pd
countries_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',') # , encoding='windows 1251')
melb_data = round((countries_data.iloc[3521]['Landsize'])/(countries_data.iloc[1690]['Landsize']))

# display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13573,13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0,"-37.89327, 144.64789"
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,256.0,126.0,1970.0,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,"-37.67917, 144.8939"
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

ВЫВОД ПЕРВЫХ И ПОСЛЕДНИХ СТРОК
РАЗМЕРНОСТЬ ТАБЛИЦЫ
ПОЛУЧЕНИЕ ИНФОРМАЦИИ О СТОЛБЦАХ

In [116]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',') # , encoding='windows 1251')
# Выведем первые пять строк нашей таблицы:
# display(melb_data.head())

# Следующий код выведет семь последних строк нашей таблицы:
# melb_data.tail(7)

#  кортеж с количеством строк и столбцов
# melb_data.shape
# melb_data.info()

melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
# melb_data.info()

# # melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
# temp_musik_xls = pd.read_excel('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/musik(.xls).xls')
# #print(temp_musik_xls)
# #temp_musik_xls['ID кампании'] = temp_musik_xls['ID кампании'].astype('int64')
# temp_musik_xls.info()
# # g = ['Дата','Кампания','Запись','Потрачено, руб.','Выполненные заявки','Переходы по ссылкам']
# temp_musik_xls.describe()
# temp_musik_xls.describe().iloc[:, :]

#display(melb_data.mean(axis=0, numeric_only= True))

# melb_data.astype({'Distance': 'int', 'YearBuilt': 'int'}).dtypes
# print(melb_data.info())

# melb_data['Lattitude'].value_counts()
melb_data['Address'].value_counts()
melb_data['Coordinates'].value_counts()
melb_data.describe(include=['object'])

melb_data['Type'].value_counts(normalize=True)
# melb_data['Regionname'].value_counts(normalize=True)
# melb_data['CouncilArea'].value_counts()
#melb_data.iloc[:, [17]].count['NaN']

# melb_data['CouncilArea'].value_counts(normalize=True)
# print(round(100*(abs(melb_data['BuildingArea'].median()- melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].mean())))




# mask = melb_data['Price'] > 2000000 
# display(melb_data[mask].head())

# display(melb_data[melb_data['Price']>2000000].head(10))

# melb_data[melb_data['Bathroom'] == 0].shape[0]


# melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

# melb_data[melb_data['Type'] == 't']['Rooms'].max()

# price_one_building = melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
# print(price_one_building)

# mean_price = melb_data['Price'].mean()
# melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

# melb_data['Bedroom'].value_counts(normalize=False)
# melb_data['Rooms'] > 5 | 


# Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, 
# либо здание моложе 2015 года?
# melb_data1 = melb_data[(melb_data['Price'] < 1000000) & ((melb_data['YearBuilt'] > 2015) | (melb_data['Rooms'] > 5))] #  .shape[0] #  & melb_data['YearBuilt'] >2015)].shape[0]].mean()
# print(round(melb_data1['Price'].mean()))

# В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

y = melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]
print(y.describe(include='object'))
y['Regionname'].value_counts(normalize=True)

           Suburb     Address  Type Method SellerG        Date CouncilArea  \
count        9220        9220  9220   9220    9220        9220        7999
unique        313        9075     1      5     232          58          33
top     Reservoir  2 Bruce St     h      S  Nelson  27/05/2017    Moreland
freq          253           3  9220   6367    1154         334         842

                   Regionname          Coordinates
count                    9220                 9220
unique                      8                 9160
top     Northern Metropolitan  -37.74635, 144.9229
freq                     2737                    2

Regionname
Northern Metropolitan         0.296855
Southern Metropolitan         0.273319
Western Metropolitan          0.247939
Eastern Metropolitan          0.126573
South-Eastern Metropolitan    0.041974
Eastern Victoria              0.005423
Northern Victoria             0.004447
Western Victoria              0.003471
Name: proportion, dtype: float64

Данные представляют собой таблицу, в которой содержится 23 столбца:

1 - index — номер строки
2 - Suburb — наименование пригорода
3 - Address — адрес
4 - Rooms — количество комнат в помещении
5 - Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
6 - Price — цена помещения
7 - Method — метод продажи 
8 - SellerG — риэлторская компания
9 - Date — дата продажи (в формате день/месяц/год)
10 - Distance — расстояния до объекта от центра Мельбурна 
11 - Postcode — почтовый индекс
12 - Bedroom — количество спален
13 - Bathroom — количество ванных комнат
14 - Car — количество парковочных мест
15 - Landsize — площадь прилегающей территории
16 - BuildingArea — площадь здания
17 - YearBuilt — год постройки
18 - Lattitude — региональное управление
19 - Lattitude — географическая широта
20 - Longitude — географическая долгота
21 - Regionname — наименование района Мельбурна
22 - Propertycount — количество объектов недвижимости в районе, выставленных на продажу
23 - Coordinates — широта и долгота, объединённые в кортеж

In [72]:
import pandas as pd

print(abs(34))
result_mode = pd.Series(data = [1, 2, 4, 2, 3, 2, 1, 5, 6])
print(result_mode.mode())

34
0    2
dtype: int64