In [1]:
import pandas as pd

melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()

УДАЛЕНИЕ СТОЛБЦОВ

In [2]:
import pandas as pd

melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()

                     # УДАЛЕНИЕ СТОЛБЦОВ
# melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
# melb_df.drop(['index','Coordinates'],axis=1,inplace=True)
# melb_data.head()

                    # МАТЕМАТИЧЕСКИЕ ОПЕРАЦИИ СО СТОЛБЦАМИ

total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
# display(total_rooms)


melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms
# display(melb_df['MeanRoomsArea'])


diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

In [37]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
def delete_columns(df, col=[]):
    try:
        df = df.drop(col, axis = 1)
    except KeyError:
        return
    else:
        return df
print(delete_columns(customer_df, [ 'number']))

# ВТОРОЙ ВАРИАНТ РЕШЕНИЯ

def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)

   cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0      128        13       0.00             2008        1400
1     1201        21       0.00             2000       14142
2     9832        19       0.20             2002         900
3     4392        21       0.15             2000        1240
4     7472        60       0.30             1961        8430

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (area) в квадратных километрах.

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [18]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['pop/area'] = (countries_df['population']* 1e6) / countries_df['area']
me = round((countries_df['pop/area'].mean()), 2)
display(me)

84.93

In [104]:
import pandas as pd

melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()

#display(melb_df['Date'])


# чтобы преобразовывать столбцы с датами, записанными в распространённых форматах, в формат datetime, можно воспользоваться функцией pandas.to_datetime(). 
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df['Date'])

                        # ВЫДЕЛЕНИЕ АТРИБУТОВ DATETIME
                        
years_sold = melb_df['Date'].dt.year
# print(years_sold)
# print('Min year sold:', years_sold.min())
# print('Max year sold:', years_sold.max())
# print('Mode year sold:', years_sold.mode()[0])

#  попробуем понять, на какие месяцы приходится пик продаж объектов недвижимости. Для этого выделим атрибут dt.month и на этот 
# раз занесём результат в столбец MonthSale, а затем найдём относительную частоту продаж для каждого месяца от общего количества продаж — 
# для этого используем метод value_counts() с параметром normalize (вывод в долях):

melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

                            # РАБОТА С ИНТЕРВАЛАМИ
                            
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days)

display(delta_days.dt.days)

# Рассмотрим другой пример. Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. 
# Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. Результат оформим в виде столбца AgeBuilding:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

0         46.0
1        116.0
2        117.0
3         47.0
4          2.0
         ...
13575     36.0
13576     22.0
13577     20.0
13578     97.0
13579     97.0
Name: AgeBuilding, Length: 13580, dtype: float64

Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [3]:
import pandas as pd

melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()
# melb_data
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) # переводим в формат datetime
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek  # создаем WeekdaySale с днями продажи
melb_df
a = melb_df[melb_df['WeekdaySale'] == 5].shape[0]
b = melb_df[melb_df['WeekdaySale'] == 6].shape[0]
weekend_count  = a+b
print(weekend_count)

12822

ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;
"Colors Reported" — цвет объекта;
"Shape Reported" — форма объекта;
"State" — обозначение штата;
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [30]:
import pandas as pd

x_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')

nlo_data = x_data.copy()
# print(nlo_data)
#nlo_data['Time'] = pd.to_datetime(nlo_data['Time'], dayfirst= False)

# В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?
#nlo_data_max = nlo_data['Time'].dt.year
#nlo_data_max.value_counts()

# Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
# Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

# Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().

# Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.


xxx = nlo_data[nlo_data['State'] == 'NV']['Time']
xxx = pd.to_datetime(xxx, dayfirst= False).dt.date
xxx = xxx.diff()
xxx = xxx.dt.days
xxx.mean()

68.92932862190813

 Создание и преобразование столбцов с помощью функций

In [57]:
import pandas as pd

melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()

# print(melb_df['Address'].loc[177])
# print(melb_df['Address'].loc[1812])
# print(melb_df['Address'].loc[9001])


# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type
street_types = melb_df['Address'].apply(get_street_type)
# display(street_types)


print(street_types.nunique())

# display(street_types.value_counts().head(33))

 
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)

streets = {'Avenue': 'Av', 'Boulevard':'Bvd', 'Parade':'Pde'} 
melb_df['StreetType'] = street_types.apply(lambda x: streets[x] if x in streets else x)
print(melb_df['StreetType'])

melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])


print(melb_df['StreetType'].nunique())

56
Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')
0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: StreetType, Length: 13580, dtype: object

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

11

Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).
Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [62]:
import pandas as pd

melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()
# melb_data
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) # переводим в формат datetime
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek  # создаем WeekdaySale с днями продажи
melb_df
a = melb_df[melb_df['WeekdaySale'] == 5].shape[0]
b = melb_df[melb_df['WeekdaySale'] == 6].shape[0]
weekend_count  = a+b
# print(weekend_count)

def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    return 0
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
# print(get_weekend(melb_df['WeekdaySale']))

melb_df1 = round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())
melb_df1

1081199

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [96]:
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()
melb_df['SellerG'].value_counts()
popular_melb = melb_df['SellerG'].value_counts().nlargest(49).index
print(popular_melb)

melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_melb else 'other')
melb_df.head(50)

min_price_nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
min_price_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()

print(round((min_price_nelson/min_price_other),1))

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object', name='SellerG')
1.3

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Примечание. Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции.

При проверке мы будем применять вашу функцию к разным Series с помощью метода apply().

In [ ]:
import pandas as pd
import time

start = time.perf_counter()

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

# def get_experience(arg):
    
#     work = arg.split(' ')    
#     if len(work) == 6:
#         return int(work[2])*12+int(work[4])
#     elif work[-1] == 'лет':
#         return int(work[-2])*12
#     else:
#         return int(work[-2])

# print(test_series_2.apply(get_experience))  
# finish = time.perf_counter()
# print('Время работы: ' + str(finish - start))  # 0.001179


# ВТОРОЙ ВАРИАНТ РЕШЕНИЯ 
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)
print(test_series_2.apply(get_experience))

finish = time.perf_counter()
print('Время работы: ' + str(finish - start))  # 0.00153

0    60
1     5
2    13
3     3
4    84
dtype: int64
Время работы: 0.0015319000085582957

KeyboardInterrupt:

Давайте определим число уникальных категорий в каждом столбце нашей таблицы melb_df. Для этого создадим вспомогательную таблицу unique_counts:

In [6]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()
melb_df.info()

# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes)     # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

      Column_Name  Num_Unique     Type
0            Type           3   object
1          Method           5   object
2      Regionname           8   object
3           Rooms           9    int64
4        Bathroom           9  float64
5             Car          11  float64
6         Bedroom          12  float64
7     CouncilArea          33   object
8            Date          58   object
9       YearBuilt         144  float64
10       Postcode         198    int64
11       Distance         202  float64
12        SellerG         268   object
13  Propertycount         311  float64
14         Suburb         314   object
15   BuildingArea         602  float64
16       Landsize        1448  float64
17          Price        2204  float64
18      Lattitude        6503  float64
19     Longtitude        7063  float64
20    Coordinates       13097   object
21        Address       13378   object
22          index       13580    int64

Сделаем преобразование столбцов к типу данных category:

In [12]:
melb_data.head()
melb_df = melb_data.copy()

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
# display(melb_df.info())

# У типа данных category есть свой специальный аксесcор cat, который позволяет получать информацию о своих значениях и преобразовывать их.
# Например, с помощью атрибута этого аксессора categories мы можем получить список уникальных категорий в столбце Regionname:
#print(melb_df['Regionname'].cat.categories)

# А теперь посмотрим, каким образом столбец кодируется в виде чисел в памяти компьютера. Для этого можно воспользоваться атрибутом codes:
#display(melb_df['Regionname'].cat.codes)


melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
#display(melb_df['Type'])


                # ПОДВОДНЫЕ КАМНИ

new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

# Решить эту проблему на самом деле не сложно. Можно добавить категорию flat в столбец Type с помощью метода акссесора cat add_categories(), 
# в который достаточно просто передать имя новой категории:
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2      NaN
3      NaN
4    house
dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

Задание 5.2
1 point possible (graded)
При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.
С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
Приведите данные в столбце Suburb к категориальному типу.
В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [25]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',')
melb_data.head()
melb_df = melb_data.copy()

# melb_df.info()# ['Suburb']   # 2.4 Mb
pop_Suburb = 119
#melb_df['Suburb'].value_counts().index
popular_suburb = melb_df['Suburb'].value_counts().nlargest(pop_Suburb).index

melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_suburb else 'other')

melb_df['Suburb'] = melb_df['Suburb'].astype('category') 
melb_df.info()  # 2.3 Mb
print(round((2.4-2.3), 1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: category(1), float64(11), int64(3), object(8)
memory usage: 2.3+ MB
0.1