In [4]:
import pandas as pd
pd.__version__

print(pd.__name__)

pandas

СОЗДАНИЕ SERIES

In [6]:
import pandas as pd
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

TypeError: Series.mean does not allow numeric_only=True with non-numeric dtypes.

In [14]:
import pandas as pd
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)
print(countries[[1,3, 5]])

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

CA      Канада
RU      Россия
BY    Беларусь
Name: countries, dtype: object

C:\Users\pawel\AppData\Local\Temp\ipykernel_1496\3493936467.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(countries[[1,3, 5]])

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

Пример:

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

In [81]:
import pandas as pd

#names=['chlorhexidine', 'cyntomycin', 'afobazol']
#counts=[15, 18, 7]

def create_medications(names, counts):
    medications = pd.Series(counts, names)
    return medications

def get_percent(medications, name):
    
    medications.loc[name]
    # sum_count = sum(medications[name])
    # print(medications.loc[name])
    # print(medications.iloc[1]+medications.iloc[2]+medications.iloc[0])
    return (medications.loc[name]/(medications.iloc[1]+medications.iloc[2]+medications.iloc[0]))*100
    
print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))

35.294117647058826

In [2]:
import pandas as pd
# countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

display(countries_df)
# countries_df.mean(axis=1, numeric_only=True)
countries_df.population
type(countries_df.population)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

pandas.core.series.Series

фильтрация и мн.др. из DataFrame

In [2]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data.csv', sep=',') # , encoding='windows 1251')
# Выведем первые пять строк нашей таблицы:
# display(melb_data.head())

# Следующий код выведет семь последних строк нашей таблицы:
# melb_data.tail(7)

#  кортеж с количеством строк и столбцов
# melb_data.shape
# melb_data.info()

melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
# melb_data.info()

# # melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
# temp_musik_xls = pd.read_excel('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/musik(.xls).xls')
# #print(temp_musik_xls)
# #temp_musik_xls['ID кампании'] = temp_musik_xls['ID кампании'].astype('int64')
# temp_musik_xls.info()
# # g = ['Дата','Кампания','Запись','Потрачено, руб.','Выполненные заявки','Переходы по ссылкам']
# temp_musik_xls.describe()
# temp_musik_xls.describe().iloc[:, :]

#display(melb_data.mean(axis=0, numeric_only= True))

# melb_data.astype({'Distance': 'int', 'YearBuilt': 'int'}).dtypes
# melb_data.info()

# melb_data['Lattitude'].value_counts()
melb_data['Address'].value_counts()
melb_data['Coordinates'].value_counts()
melb_data.describe(include=['object'])

melb_data['Type'].value_counts(normalize=True)
# melb_data['Regionname'].value_counts(normalize=True)
# melb_data['CouncilArea'].value_counts()
#melb_data.iloc[:, [17]].count['NaN']

# melb_data['CouncilArea'].value_counts(normalize=True)
print(round(100*(abs(melb_data['BuildingArea'].median()- melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].mean())))




mask = melb_data['Price'] > 2000000 
display(melb_data[mask].head())

10

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"