In [8]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()
# melb_df.head()
# display(melb_df.info())



# melb_df['Date'] =pd.to_datetime(melb_df['Date']).dt.quarter
# melb_df['Date'].value_counts()


# Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, 
# Rooms, Bedroom, Bathroom, Car.
# В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

melb_pass = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
unique_st = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < unique_st and col not in melb_pass:
        melb_df[col] = melb_df[col].astype('category')
# display(melb_df.dtypes[melb_df.dtypes == 'category'].nunique())

# melb_df.sort_values(by='Price').head(10)
# melb_df.sort_values(by='Date', ascending=False)
# melb_df.sort_values(by=['Price','Distance' ]).loc[::10, [ 'Price','Distance']]

# mask1 = melb_df['AreaRatio'] < -0.8
# mask2 = melb_df['Type'] == 'townhouse'
# mask3 = melb_df['SellerG'] == 'McGrath'

# melb_df[mask1 & mask2 & mask3].sort_values(
#     by=['Date', 'AreaRatio'],
#     ascending=[True, False],
#     ignore_index=True
# ).loc[: , ['Date', 'AreaRatio']]


# Задание 2.2
# Произведите сортировку столбца AreaRatio по убыванию. При этом индексы полученной таблицы замените на новые.
# Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

melb_df.sort_values(by = 'AreaRatio', ascending=False, ignore_index=True).copy()
melb_df.iloc[1558].loc['BuildingArea']

# Задание 2.3
# Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат,
# а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18?
# Ответ запишите в виде целого числа.

mask_rooms = melb_df['Rooms'] > 2
mask_type = melb_df['Type'] == 'townhouse'
# melb_df.head()
townhauses = melb_df[mask_rooms & mask_type].copy()
townhauses.sort_values(
    by = ['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True).iloc[18].loc['Price']

1300000.0

Данные представляют собой таблицу, в которой содержится 23 столбца:

1 - index — номер строки
2 - Suburb — наименование пригорода
3 - Address — адрес
4 - Rooms — количество комнат в помещении
5 - Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
6 - Price — цена помещения
7 - Method — метод продажи 
8 - SellerG — риэлторская компания
9 - Date — дата продажи (в формате день/месяц/год)
10 - Distance — расстояния до объекта от центра Мельбурна 
11 - Postcode — почтовый индекс
12 - Bedroom — количество спален
13 - Bathroom — количество ванных комнат
14 - Car — количество парковочных мест
15 - Landsize — площадь прилегающей территории
16 - BuildingArea — площадь здания
17 - YearBuilt — год постройки
18 - Lattitude — региональное управление
19 - Lattitude — географическая широта
20 - Longitude — географическая долгота
21 - Regionname — наименование района Мельбурна
22 - Propertycount — количество объектов недвижимости в районе, выставленных на продажу
23 - Coordinates — широта и долгота, объединённые в кортеж

4/12   3. Группировка данных в DataFrame

In [24]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()

melb_df.groupby(by='Type', as_index=False).mean(numeric_only=True)

melb_df.groupby('Type')['Price'].mean()


            # ГРУППИРОВКА ДАННЫХ ПО ОДНОМУ КРИТЕРИЮ С НЕСКОЛЬКИМИ АГРЕГАЦИЯМИ

melb_df.groupby('MonthSale')['Price'].agg(
    ['count', 'mean', 'max']
).sort_values(by='count', ascending=False)


melb_df.groupby('MonthSale')['Price'].agg('describe')


melb_df.groupby('Regionname')['SellerG'].agg(
    ['nunique', set]
)

,nunique,set
Regionname,,
Eastern Metropolitan,26,"{Buckingham, HAR, Buxton, Gary, Barry, McGrath..."
Eastern Victoria,11,"{hockingstuart, Barry, Harcourts, HAR, Eview, ..."
Northern Metropolitan,40,"{Buckingham, Alexkarbon, Hodges, Nick, HAR, Ca..."
Northern Victoria,11,"{YPA, Buckingham, hockingstuart, HAR, other, R..."
South-Eastern Metropolitan,25,"{Hodges, HAR, Buxton, Gary, Barry, McGrath, Ch..."
Southern Metropolitan,38,"{Buckingham, Hodges, Nick, HAR, Buxton, Gary, ..."
Western Metropolitan,34,"{Alexkarbon, Hodges, HAR, Barry, Brad, McGrath..."
Western Victoria,6,"{YPA, hockingstuart, HAR, other, Ray, Raine}"

Задание 3.1
Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

 
Задание 3.2
Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)?
В качестве ответа запишите название этого региона.

Задание 3.3
Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?
Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой компании в заданный период.
Не забудьте перевести даты в формат datetime.

In [51]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()

# Задание 3.1
# melb_df.groupby('Rooms')['Price'].mean().sort_values(ascending=False)

# Задание 3.2
# melb_df.groupby('Regionname')['Lattitude'].std().sort_values(ascending=True)

# Задание 3.3.

melb_df['Date'] = pd.to_datetime(melb_df['Date'])

mask1 = melb_df['Date'] > '2017-05-01' 
mask2 = melb_df['Date'] < '2017-09-01'
melb_df[mask1&mask2].groupby('SellerG')['Price'].agg(
    ['count', 'mean', 'sum']
).sort_values(by='sum')

               count          mean          sum
SellerG
LITTLE             4  6.855000e+05    2742000.0
Cayzer             4  1.109750e+06    4439000.0
Burnham            7  6.500714e+05    4550500.0
Moonee             9  8.142222e+05    7328000.0
Thomson           13  6.409231e+05    8332000.0
Bells             13  6.658462e+05    8656000.0
Alexkarbon        11  9.986364e+05   10985000.0
McDonald          13  1.125962e+06   14637500.0
Rendina           14  1.101591e+06   15422276.0
Nick               9  1.876667e+06   16890000.0
Douglas           27  6.792963e+05   18341000.0
Buckingham        22  8.651364e+05   19033000.0
C21               24  8.131250e+05   19515000.0
Eview             24  8.246458e+05   19791500.0
Collins           12  1.684750e+06   20217000.0
Philip            22  1.002355e+06   22051800.0
Chisholm          18  1.290278e+06   23225000.0
Williams          21  1.109381e+06   23297000.0
Love              32  7.301719e+05   23365500.0
Purplebricks      23  1.017435e+06   23401000.0
O'Brien           30  7.951836e+05   23855508.0
HAR               31  8.247742e+05   25568000.0
Village           26  1.018192e+06   26473000.0
RW                34  8.606176e+05   29261000.0
Raine             45  6.819489e+05   30687700.0
Stockdale         50  7.081960e+05   35409800.0
Sweeney           45  8.196167e+05   36882750.0
Gary              38  1.029958e+06   39138400.0
Hodges            35  1.235171e+06   43231000.0
YPA               76  6.099257e+05   46354350.0
Miles             40  1.189550e+06   47582000.0
Kay               24  2.023729e+06   48569500.0
RT                34  1.485235e+06   50498000.0
Brad              67  8.351493e+05   55955000.0
Jas               63  9.409778e+05   59281600.0
Harcourts         90  7.635583e+05   68720250.0
McGrath           75  1.045153e+06   78386500.0
Greg              61  1.403623e+06   85621000.0
Woodards          76  1.131283e+06   85977500.0
Noel              72  1.224025e+06   88129800.0
Fletchers         82  1.327411e+06  108847700.0
Biggin           108  1.022495e+06  110429500.0
Buxton           181  1.210519e+06  219104000.0
Ray              288  8.665729e+05  249572986.0
Marshall         130  1.953522e+06  253957888.0
hockingstuart    309  9.153214e+05  282834310.0
Barry            327  9.074099e+05  296723050.0
other            390  9.359960e+05  365038432.0
Nelson           366  1.037616e+06  379767500.0
Jellis           305  1.357777e+06  414121833.0

                    5/12   4. Сводные таблицы
            МЕТОД GROUPBY КАК СПОСОБ ПОСТРОЕНИЯ СВОДНЫХ ТАБЛИЦ

In [96]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()

#           МЕТОД GROUPBY КАК СПОСОБ ПОСТРОЕНИЯ СВОДНЫХ ТАБЛИЦ
# melb_df.groupby('Rooms')[['Price', 'BuildingArea']].median()

# melb_df.groupby(['Rooms', 'Type'])['Price'].mean()
# melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack()
# melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack().max()



#               МЕТОД PIVOT_TABLE ДЛЯ ПОСТРОЕНИЯ СВОДНЫХ ТАБЛИЦ
# melb_df.pivot_table(
#     values='Price',
#     index='Rooms',
#     columns='Type',
#     fill_value=0
# ).round()


# melb_df.pivot_table(
#     values='Landsize',
#     index='Regionname',
#     columns='Type',
#     aggfunc=['median', 'mean'],
#     fill_value=0
# )

#               МНОГОМЕРНЫЕ СВОДНЫЕ ТАБЛИЦЫ
# melb_df.pivot_table(
#     values='Price',
#     index=['Method','Type'],
#     columns='Regionname', # 'SellerG'],
#     aggfunc='median',
#     fill_value=0
# )

# pivot = melb_df.pivot_table(
#     values='Landsize',
#     index='Regionname',
#     columns='Type',
#     aggfunc=['median', 'mean'],
#     fill_value=0
# )
# pivot.columns

# mask = pivot['mean']['house'] < pivot['median']['house']
# filtered_pivot = pivot[mask]
# display(filtered_pivot)

# # Series
mser = pd.Series(
    np.random.rand(8),
	index=[['white','white','white','blue','blue','red','red','red'], 
           ['up','down','right','up','down','up','down','left']])
display(mser)
# # DataFrame
# mframe = pd.DataFrame(
#     np.random.randn(16).reshape(4,4),
#     index=[['white','white','red','red'], ['up','down','up','down']],
#     columns=[['pen','pen','paper','paper'],[1,2,1,2]]
# )
# display(mframe)

white  up       0.600177
       down     0.585466
       right    0.639564
blue   up       0.040610
       down     0.228351
red    up       0.080359
       down     0.710000
       left     0.262728
dtype: float64

In [14]:
import numpy as np
mser = pd.Series(
    np.random.rand(8),
	index=[['white','white','white','blue','blue','red','red','red'], 
           ['up','down','right','up','down','up','down','left']])
display(mser)

white  up       0.500941
       down     0.948482
       right    0.678018
blue   up       0.957749
       down     0.343209
red    up       0.107180
       down     0.536362
       left     0.249762
dtype: float64

Задание 4.2

Составьте сводную таблицу, которая показывает зависимость медианной площади (BuildingArea) здания от типа объекта недвижимости (Type) и количества жилых комнат в доме (Rooms). Для какой комбинации признаков площадь здания наибольшая?
В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.

In [47]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()

melb_df.groupby(['Type', 'Rooms'])['BuildingArea'].median().unstack()

# x =melb_df.pivot_table(
#     values= 'BuildingArea',
#     index='Type',
#     columns='Rooms',
#     aggfunc='median'  
# )

Rooms         1      2      3      4      5      6      7      8      10
Type
house      126.0  126.0  126.0  141.0  177.0  126.0  216.5  126.0  126.0
townhouse   88.0  114.0  126.0  159.5  152.0    NaN    NaN    NaN    NaN
unit        69.5  110.0  126.0  126.0    NaN  171.0    NaN  126.0    NaN

Задание 4.3

Составьте сводную таблицу, которая показывает зависимость медианной цены объекта недвижимости (Price) от риелторского агентства (SellerG) и типа здания (Type).
Во вновь созданной таблице найдите агентство, у которого медианная цена для зданий типа unit максимальна. В качестве ответа запишите название этого агентства.

In [86]:
import pandas as pd
melb_data = pd.read_csv('d:/python/GUESS/РАБОЧАЯ/PANDAS/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()

x = melb_df.pivot_table(
    values= 'Price',
    index='SellerG',
    columns='Type', 
    aggfunc='median'
).sort_values(by='unit', ascending= False)
x['unit']# ['Nick']

SellerG
Nick             900000.0
Marshall         715000.0
Cayzer           707500.0
Kay              695000.0
Noel             693250.0
Buxton           670000.0
Fletchers        653000.0
Chisholm         640000.0
Philip           636000.0
RT               630000.0
C21              625500.0
RW               625500.0
Moonee           622000.0
O'Brien          618500.0
Hodges           605500.0
Eview            602000.0
Woodards         600000.0
Collins          592000.0
Jellis           591750.0
Purplebricks     582500.0
Williams         577000.0
hockingstuart    566000.0
Alexkarbon       560000.0
Miles            555000.0
Buckingham       553000.0
Gary             550000.0
Biggin           548000.0
Greg             547500.0
McGrath          542500.0
other            535000.0
Nelson           530000.0
HAR              518000.0
McDonald         502500.0
Barry            502000.0
Harcourts        500000.0
Ray              497500.0
Thomson          495000.0
Douglas          494500.0
Brad             465000.0
Rendina          459000.0
Bells            457500.0
Jas              455000.0
Raine            447500.0
LITTLE           447000.0
YPA              443500.0
Love             440000.0
Village          420000.0
Stockdale        410000.0
Sweeney          381000.0
Burnham          305000.0
Name: unit, dtype: float64

6/12   5. Объединение DataFrame: знакомимся с новыми данными

In [14]:
import pandas as pd
dates = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/dates.csv', sep=',')
movies = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/movies.csv', sep=',')
ratings1 = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/ratings1.csv', sep=',')
ratings2 = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/ratings2.csv', sep=',')


# # Задание 5.2
# # Сколько уникальных (по названию) фильмов представлено в таблице movies?
# muves['title'].nunique()

# # Задание 5.3
# # Сколько уникальных пользователей в таблице ratings1?
# ratings1['userId'].nunique()

# # Задание 5.4 
# # В каком году было выставлено больше всего оценок? Для ответа на этот вопрос используйте таблицу dates.
# dates = pd.to_datetime(dates['date'])
# dates.dt.year.value_counts().copy()



#ratings = pd.concat([ratings1, ratings2])
#display(ratings)

ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True
)
# display(ratings)
# print('Число строк в таблице ratings: ', ratings.shape[0])
# print('Число строк в таблице dates: ', dates.shape[0])
# print(ratings.shape[0] == dates.shape[0])

# Число строк в таблице ratings: 100837
# Число строк в таблице dates: 100836
# False
# display(ratings1.tail(1))
# display(ratings2.head(1))

# ratings = ratings.drop_duplicates(ignore_index=True)
# # print('Число строк в таблице ratings: ', ratings.shape[0])


ratings_dates = pd.concat([ratings, dates], axis=1)
# display(ratings_dates.tail(7))



joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='left'
)
display(joined_false)

,userId,movieId,rating,date,movieId_right,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3.0,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...,...
100832,610,166534,4.0,2017-05-03 22:21:31,NaN,NaN,NaN
100833,610,168248,5.0,2017-05-08 19:50:47,NaN,NaN,NaN
100834,610,168250,5.0,2017-05-03 21:19:12,NaN,NaN,NaN
100835,610,168252,5.0,2017-05-03 21:20:15,NaN,NaN,NaN
100836,610,170875,3.0,NaN,NaN,NaN,NaN

Задание 6.3 объединить информацию из предоставленных вам файлов в один DataFrame 

В ваше распоряжение предоставлена директория users ('./Root/users'). В данной директории содержатся csv-файлы, в каждом из которых хранится информация об идентификаторах пользователей (user_id) и ссылки на их фотографии (image_url). Файлов в директории может быть сколько угодно.

Вам необходимо написать функцию concat_user_files(path), параметром которой является path — путь до директории. Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его.

Список названий всех файлов, находящихся в директории, вы можете получить с помощью функции os.listdir(path) из модуля os. Отсортируйте полученный список, прежде чем производить объединение файлов.

Обратите внимание, что метод os.listdir() возвращает только названия файлов в указанной директории, а при чтении файла необходимо указывать полный путь до него.

Не забудьте обновить индексы результирующей таблицы после объединения.

Примечание. Учтите, что на тестовом наборе файлов в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться.

Например, для директории users/ результирующая таблица должна иметь следующий вид:

In [2]:
import pandas as pd
import os as os

#['users1.csv', 'users2.csv', 'users4.csv', 'users3.csv']

def concat_user_files(path):
    files = os.listdir(path)
    files.sort()  
    x1 = []
    for x in files:
        path_files = path + '/' + x
        x1.append(pd.read_csv(path_files, sep = ','))   # список DataFrame-ов  
        print(x1)
    result = pd.concat(x1, ignore_index=True) # объедняем
    result = result.drop_duplicates(ignore_index=True) # удаляем дубли
    return result

concat_user_files('./Root/users')

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: './Root/users'

                8/12   7. Объединение DataFrame: join, merge

In [5]:
import pandas as pd
dates = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/dates.csv', sep=',')
movies = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/movies.csv', sep=',')
ratings1 = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/ratings1.csv', sep=',')
ratings2 = pd.read_csv('D:/python/GUESS/РАБОЧАЯ/PANDAS/DATA/объединение DataFrame/ratings2.csv', sep=',')

ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True
)
ratings_dates = pd.concat([ratings, dates], axis=1)

joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='left'
)
# display(joined_false)

a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})
a.merge(b, how='right', on='C')

     A      B  C  V       U
0    a  103.0  1  d  1393.7
1  NaN    NaN  3  b  9382.2
2    c  124.0  2  c  1904.5

Задание 7.5: Даны две таблицы: items_df, в которой содержится информация о наличии товаров на складе, и purchase_df с данными о покупках товаров.

Информация в таблицах представлена в виде следующих столбцов:

item_id — идентификатор модели;
vendor — производитель модели;
 stock_count — имеющееся на складе количество данных моделей (в штуках);
 purchase_id — идентификатор покупки;
price — стоимость модели в покупке.
Вам необходимо сделать следующее:

Сформируйте DataFrame merged, так чтобы после объединения purchase_df и items_df остались модели, которые учтены на складе и имели продажи.

На основе таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, имеющихся на складе. Результат занесите в переменную income.

In [17]:
import pandas as pd

items_df = pd.DataFrame({
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
            'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
            'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
        })

purchase_df = pd.DataFrame({
            'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
            'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
        })
merged = items_df.merge(
    purchase_df,
    on = 'item_id',
    how = 'inner'
    )
temp = merged['stock_count'] * merged['price']
income = temp.sum()
income

19729490